
body {
    color: black;
    background-color: white;
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
}


h1 {
    font-family: 'Georgia', serif;
    background-color: #2980b9; 
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}


body > p:first-of-type {
    text-align: center;
    background-color: #2980b9;
    color: white;
    padding: 10px ;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: center;
    width: 100%;
}

.navbar::after {
    content: "";
    display: block;
    clear: both;
}

.navbar li {
    float: left;
    position: relative; 
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: black;
}



.dropdown {
    float: left;
    position: relative;
}

.dropdown-content {
    display: none; 
    position: absolute;
    background-color: black;
    list-style-type: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
}

.dropdown-content li a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content li a:hover {
    background-color: #444;
}

.dropdown:hover .dropdown-content {
    display: block; 
}
.content-area {
    padding: 20px;
}


@media all and (max-width: 600px) {
    .navbar li {
        float: none;
    }
}


@media print {
    .navbar, .dropdown, a[href="mailto:"] {
        display: none;
    }

